.body{
    margin: 0;
}

.container{
    margin: 0px 45px;
}

.header{
    background-color: white;
}

.header-line{
    display: flex;
    align-items: center;
}

h1{
    color: black;
    margin-right: 40px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav-item{
    color: black;
    text-decoration: none;
    margin-right: 25px;
    font-family: 'Montserrat Alternates', sans-serif;
}

.nav{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10pt;
    margin-left: 50%;
}

.autorization{
    color: black;
    text-decoration: none;
    font-family: 'Montserrat Alternates', sans-serif;
    margin-left: 26%;
}

.nav:hover, .autorization:hover, .nav-item:hover{
    color: Peru;
}

.header-down{
    height: 510px;
    background-size: 100%;    
    background-image: url(background.jpg);
}

.person{
    position: absolute;
    top: 55%;
    left: 32%;
}

.footer{
    background-color: white
}

.foot{
    margin-left: 50px;
    color: black;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 10pt;
}

.table{
    /*position: absolute;
    top: 17%;*/
    padding-top: 2%;
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 11pt;
}

.spisok{
    position: absolute;
    top: 15%;
    left: 13%;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12pt;
    background-color: white;
    box-shadow: 1px 1px 3px #777;
}

caption{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 13pt;
}

